@media (max-width:1600px) {
    .header {        
        height: 60vw;              
    }
    .picturs {
        left: 12rem;
    }
    .about {
        height: 65vw;
    }
    .borderr {
        right: 4rem;       
    }
    .ax {
        right: 7rem; 
    }
    .work {
        height: 190vh;
    }
    .blog {
        height: 110vh;
    }
    .contact {
        height: 110vh;
    }
    .footer {
        height: 110vh;
    }
}

@media (max-width:1400px) {
    .header {        
        height: 68vw;              
    }
    .picturs {
        left: 7rem;
    }
    .about {
        height: 75vw;
    }
    .borderr {
        right: 5rem;  
        width: 25rem;
        height: 30rem;     
    }
    .ax {
        right: 8rem; 
        width: 25rem;
        height: 30rem;
    }
    .b-r-prev {
        margin-top: 38rem;
        margin-right: 15rem;
    }
    .b-r-next {
        margin-top: 38rem;
        margin-left: 15rem;
    }
    .skills {
        height: 80vw;
    }
    .our-clients {
        height: 60vw;  
    }
}

@media (max-width:1200px) {
    .header {        
        height: 85vw;              
    }
    .ma-s {
        margin-left: 0;
    }
    .picturs {
        left: 3rem;
        width: 25rem;
        height: 35rem;
    }
    a:hover .top {
        width: 25rem;
    }
    a:hover .left {
        height: 35rem;
    }
    .about {
        height: 85vw;
    }
    .borderr {
        right: 4rem;  
        width: 25rem;
        height: 30rem;     
    }
    .ax {
        right: 7rem; 
        width: 25rem;
        height: 30rem;
    }
    .b-r-prev {
        margin-top: 35rem;
        margin-right: 10rem;
    }
    .b-r-next {
        margin-top: 35rem;
        margin-left: 10rem;
    }
    .skills {
        height: 140vw;
    }
    .our-clients {
        height: 110vw;  
    }
    .box {
        width: 55rem;
    }
    .img-radi {
        left: 22rem;
    }
    .m-s {
        margin: 0 3rem;
    }
}

@media (max-width:992px) {
    .header {        
        height: 160vw;              
    }
    .picturs {
        top: 50rem;
        left: 15rem;
        width: 25rem;
        height: 35rem;
    }
    a:hover .top {
        width: 25rem;
    }
    a:hover .left {
        height: 35rem;
    }
    .box-p {
        margin-left: 10rem;
    }
    .about {
        height: 120vw;
    }
    .borderr {
        display: none;    
    }
    .ax {
        display: none;
    }
    .skills {
        height: 190vw;
    }
    .our-clients {
        height: 130vw;  
    }
    .box {
        width: 35rem;
    }
    .mar-top {
        padding: 0 5rem;
    }
    .img-radi {
        left: 13rem;
    }
    .card-width {
        width: 40rem;
        margin-bottom: 3rem;
    }
    .m-s {
        margin: 0 1rem;
    }
    .blog {
        height: 280vh;
    }
}

@media (max-width:870px) {
    .header {        
        height: 180vw;              
    }
    .picturs {
        top: 50rem;
        left: 15rem;
        width: 25rem;
        height: 35rem;
    }
    a:hover .top {
        width: 25rem;
    }
    a:hover .left {
        height: 35rem;
    }
    .box-p {
        margin-left: 10rem;
    }
    .skills {
        height: 220vw;
    }
    .our-clients {
        height: 150vw;  
    }
    .box {
        width: 35rem;
    }
    .mar-top {
        padding: 0 5rem;
    }
    .card-width {
        width: 30rem;
        margin-bottom: 3rem;
    }
}

@media (max-width:765px) {
    .header {        
        height: 200vw;              
    }
    .picturs {
        top: 50rem;
        left: 8rem;
        width: 25rem;
        height: 35rem;
    }
    a:hover .top {
        width: 25rem;
    }
    a:hover .left {
        height: 35rem;
    }
    .box-p {
        margin-left: 6rem;
    }
    .about {
        height: 150vh;
    }
    .borderr {
        display: none;    
    }
    .ax {
        display: none;
    }
    .skills {
        height: 240vw;
    }
    .our-clients {
        height: 170vw;  
    }
    .box {
        width: 35rem;
    }
    .mar-top {
        padding: 0 5rem;
    }
    .work {
        height: 140vh;
    }
    .img-op {
        width: 15rem;
        height: 15rem;
    }
    .card-width {
        width: 30rem;
        margin-bottom: 3rem;
    }
    .contact {
        height: 150vh;
    }
}

@media (max-width:700px) {
    .header {        
        height: 220vw;              
    }
    .picturs {
        top: 50rem;
        left: 6rem;
        width: 25rem;
        height: 35rem;
    }
    a:hover .top {
        width: 25rem;
    }
    a:hover .left {
        height: 35rem;
    }
    .box-p {
        margin-left: 6rem;
    }
    .skills {
        height: 270vw;
    }
    .our-clients {
        height: 190vw;  
    }
    .box {
        width: 35rem;
    }
    .mar-top {
        padding: 0 3rem;
    }
}

@media (max-width:620px) {
    .header {        
        height: 240vw;              
    }
    .picturs {
        top: 50rem;
        left: 6rem;
        width: 25rem;
        height: 35rem;
    }
    a:hover .top {
        width: 25rem;
    }
    a:hover .left {
        height: 35rem;
    }
    .about {
        height: 160vh;
    }
    .box-p {
        margin-left: 6rem;
    }
    .skills {
        height: 290vw;
    }
    .card-width {
        width: 30rem;
        margin-bottom: 3rem;
    }
}

@media (max-width:576px) {
    .header {        
        height: 280vw;              
    }
    .picturs {
        top: 50rem;
        left: 4rem;
        width: 25rem;
        height: 35rem;
    }
    a:hover .top {
        width: 25rem;
    }
    a:hover .left {
        height: 35rem;
    }
    .box-p {
        margin-left: 4rem;
    }
    .about {
        height: 185vw;
    }
    .borderr {
        display: none;    
    }
    .ax {
        display: none;
    }
    .b-r-next {
        margin-top: 40rem;
    }
    .b-r-prev {
        margin-top: 40rem;
    }
    .skills {
        height: 335vw;
    }
    .our-clients {
        height: 210vw;  
    }
    .box {
        width: 30rem;
    }
    .mar-top {
        padding: 0 3rem;
    }
    .img-radi {
        left: 10rem;
    }
    .img-op {
        width: 15rem;
        height: 15rem;
    }
    .footer {
        height: 130vh;
    }
    .display-input {
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width:500px) {
    .header {        
        height: 300vw;              
    }
    .font {
        font-size: 55px;
    }
    .picturs {
        width: 20rem;
        height: 30rem;
        left: 5rem;
    }
    a:hover .top {
        width: 20rem;
    }
    a:hover .left {
        height: 30rem;
    }
    .pictur-p {
        top: 12rem;
        left: 6rem;
        font-size: 30px;
    }
    .box-p {
        margin-left: 2rem;
    }
    .about {
        height: 200vh;
    }
    .b-r-next {
        margin-top: 60rem;
        margin-left: 5rem;
    }
    .b-r-prev {
        margin-top: 60rem;
        margin-right: 5rem;
    }
    .skills {
        height: 330vh;
    }
    .display-skills {
        display: none;
    }
}

@media (max-width:455px) {
    .header {        
        height: 330vw;              
    }
}

@media (max-width:410px) {
    .header {        
        height: 350vw;              
    }
    .picturs {
        left: 2rem;
    }
}

@media (max-width:380px) {
    .header {        
        height: 380vw;              
    }
    .picturs {
        left: 3rem;
        width: 15rem;
        height: 25rem;
    }
    .font {
        font-size: 43px;
    }
    a:hover .top {
        width: 15rem;
    }
    a:hover .left {
        height: 25rem;
    }
    .pictur-p {
        top: 10rem;
        left: 4rem;
        font-size: 25px;
    }
    .box-p {
        margin-left: 1rem;
    }
    .about {
        height: 250vh;
    }
    .b-r-next {
        margin-top: 70rem;
        margin-left: 2rem;
    }
    .b-r-prev {
        margin-top: 70rem;
        margin-right: 2rem;
    }
}

@media (max-width:320px) {
    .header {        
        height: 380vw;              
    }
    .picturs {
        left: 2rem;
    }
    .about {
        height: 290vh;
    }
}

